@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Treningowie</h1>
    <img src="https://www.teniskozerki.pl/wp-content/uploads/2023/08/A7404334-scaled.jpg" style="width: 80%; height: auto;" />
</div>
