@model IEnumerable<Magazyn.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Kategorie</h1>

<p>
    <button type="button" class="btn btn-outline-success"><a asp-action="Create">Dodaj</a></button>
</p>
<table class="table" label>
    <thead>
        <tr>
            <th>
                <label label for="Name">Nazwa</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <button type="button" class="btn btn-outline-secondary"><a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a></button>
                    <button type="button" class="btn btn-outline-info"><a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a></button>
                    <button type="button" class="btn btn-outline-danger"><a asp-action="Delete" asp-route-id="@item.Id">Usuń</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
